.have_cover {

      h3 {
        margin: 50px 50px 50px 50px;
        color: #000;
        font-weight: bold;
        letter-spacing: 0.15em;
        text-shadow: 0 1px 1px rgba(0,0,0,0.1);
      }
}
